//palette1: #264653;
//#2a9d8f;
//#e9c46a;
//#f4a261;
//#e76f51;  
// de reparat - mobile menu - sa inchia meniul la click pe link
// hover effect on hover - navbar + project img

//!!! de facut 4k 
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    margin:0;
    font-size:18px;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
    color:black;
}

.container{
    max-width:600px;
    margin:0 auto 0 auto;
}
header{
    position:fixed;
    top:0;
    width:100%;   
    background-color:white;
    z-index:3;
    padding: 1rem;
    .container{
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        .logo{
            font-size: 1.7rem;
        }
        .navbar{
            img{
                width:30px;
                cursor:pointer;
            }
            nav{
                display:none;
            }
            .display-nav{
                display:block;
                position:absolute; 
                top:0;
                right:0;
                height:100vh;
                width:100vw;
                background-color: #4fa1a3;//#264653;
                color:rgb(26, 26, 26);
                //opacity:0.95;
                display:flex;
                flex-direction:column;
                justify-content: center;
                align-items: center;
                span{
                    position:absolute;
                    top:20px;
                    right:19px;
                    cursor: pointer;
                }
                ul{
                    li{
                        font-size:1.4rem;
                        margin-bottom: 1rem;
                        text-align:center;
                        a{
                            color:rgb(26, 26, 26);
                        }
                        a:hover{
                            color: #ece7d5;
                        }
                        button{
                            background-color: #f4a261;
                            border:none;
                            outline: none;
                            color: #264653;
                            border-radius: 5px;
                            padding:7px 10px 7px 10px;
                            font-size:1.2rem;
                            font-weight:600;
                            margin-top:1rem;
                            &:hover{
                                background-color: #ece7d5;
                            }
                        }
                    }
                }

            }
            
        }
    }
    
}

.intro{
    background: rgb(42,157,143);
    background: linear-gradient(0deg, rgba(42,157,143,1) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);  
//     background: rgb(42,157,143);
// background: linear-gradient(0deg, rgba(42,157,143,1) 0%, rgba(50,161,147,1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
    
    height:100vh;
    padding-left:1rem;
    padding-bottom:1rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    
    h1{
        font-size:3rem;
        margin-bottom:1rem;
    }
}

.projects{
    background-color: #2a9d8f;
    padding:3rem 1rem 1rem 1rem;
    .container{
        h2{
            margin-bottom:2rem;
        }
        .projects-container{
            .project-container{
                .text{
                    .project-title{
                        margin-top:3rem;
                        margin-bottom:1rem;
                        color:#132329;
                    }
                    .description{
                        line-height: 1.4rem;
                        font-size:1rem;
                        margin-bottom:1rem;
                        background-color:#132329;
                        color:rgb(216, 214, 212);
                        padding:0.8rem;
                        border-radius: 5px;
                       // box-shadow:2px 2px 5px rgba(80, 114, 107, 0.4);
                    }     
                    .technologies{
                        display:flex;
                        flex-direction: row;
                        flex-wrap:wrap;
                        gap:1%;
                        justify-content:center;
                        
                        span{
                            background-color:#dbe5e7;// #c0ccce; 
                            border-radius:5px;
                            padding:0.5rem;
                            font-size: 14px;
                            margin-bottom: 5px;
                            display:flex;
                            img{
                                width:15px;
                                padding-right:2px;
                            }
                        }
                    }
                }
                .photo{
                    position:relative;
                    margin:1rem auto 1.5rem auto;
                    img{
                        width:100%;                       
                    }
                    .project-links{
                        display:none;
                    }
                    &:hover{
                       .project-links{
                            display:block;
                            position:absolute;
                            top:0;
                            width:100%;
                            height:98%;
                            background-color: rgba(0,0,0,0.3);
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            a.github{
                                margin-right:10px;
                            }
                            a.external-link {
                                margin-left:10px;
                            }
                            a svg{
                                width:30px;
                            }
                            a:hover {
                                svg{color:#cf4422;}
                            }
                       } 
                    }
                }
            }
        }
    }
    
} 
.about{
    background: rgb(180,210,216);
    background: linear-gradient(0deg, rgba(180,210,216,1) 0%, rgba(42,157,143,1) 100%);
    padding:3rem 1rem 2rem 1rem;
    h2{
        margin-bottom:1rem;
    }
    p{
        margin-top:0.4rem;
        line-height: 1.4rem;
        padding:0.5rem;
    }
}
.contact{
    background-color:#b4d2d8;
    text-align:center;
    padding: 4rem 1rem 3rem 1rem;
    .container{
        max-width:360px;
        margin:0 auto 0 auto;
        h2{
            margin-bottom:1rem;
        }
        em{
            font-style: normal;
        }
        p{
            margin-bottom: 2rem;
        }
        ul{
            display:flex;
            flex-direction:row;
            justify-content: space-evenly;
            li{
                
                a:hover{
                    color:#cf4422;//#2a9d8f;
                }
                svg{
                    width:30px;
                }
            }
        }
    }
}

footer{
    background-color: #b4d2d8;
    text-align:center;
    padding-bottom:1rem;
}

@media (min-width:760px){

    .container{
        max-width:unset;
        width:100%;
        //de revenit cand stabilim max-width
    }
    header{
        .container{
            .navbar{
                width:50%;
                #open-menu{
                    display:none;
                }
                nav{
                    display:flex;
                    
                    #close-menu{
                        display:none;
                    }
                    ul{
                        width:100%;
                        display:flex;
                        flex-direction:row;
                        justify-content:end;
                        align-items: center;
                        li{
                            a{
                                padding:0.4rem 1rem;
                            }
                            a:hover{
                                background-color:#dbe5e7;// lightgray;
                                border-radius:5px;
                            }
                            &:last-child{
                                width:130px;
                                text-align: right;
                            }
                            button{
                                background-color:#f15731;//#e9c46a;
                                outline:none;
                                border:none;
                                border-radius:8px;
                                padding: 0.5rem 1rem;
                                font-size:1rem;
                                font-weight: 600;
                                cursor: pointer;
                                &:hover{
                                    background-color: #e76f51;
                                }
                            }
                        }
                    }
                }
            }   
        }
    }
    .intro{
        padding-left:15%;
    }
    .projects{
        .container{
            .projects-container{
                .project-container{
                   
                    display:grid;
                    grid-template-columns: repeat(10, 1fr);
                    .text{
                        grid-column: 1/6;
                        grid-row:1/2;
                        z-index:2;
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        .project-title{
                            margin-top:0; 
                            margin-bottom:1.5rem;
                            width:80%;
                            text-align:center; 
                            font-size:1.5rem; 
                            
                        }
                        .technologies{
                            width:80%;
                        }
                    }
                    .photo{
                        grid-column:5/11;
                        grid-row:1/2;
                        margin-right:0;
                    }
                }
                .alternate{
                    .text{
                        .project-title{
                            width: 100%;
                            padding-left:20%;
                        }
                        .technologies{
                            width:100%;
                            padding-left:20%;
                        }
                        grid-column:6/11;
                    }
                    .photo{
                        grid-column:1/7;
                        margin-left:0;
                    }
                }
            }
        }
    }  
}

@media (min-width:1024px){
    .container{
        max-width:1200px;
    }
    h2{
        font-size:1.8rem;
    }
    header{
        font-size:1.3rem;
        .logo a{
            font-size:2rem;
        }
        .container .navbar nav ul li button{
                                        font-size:1.1rem;
                                     }
    }
    .intro{
        h1{
            font-size:4.5rem;
        }
        h2{
            font-size:2.5rem;
        }
        padding-left:20%;
    }
    .projects{
        .container{
            .projects-container{
                .project-container{
                    .text{
                        .project-title{
                            font-size:1.7rem;
                        }
                        .description{
                            font-size: 1.1rem;
                        }
                    }
                    .photo{
                        max-width:700px;
                        &:hover{
                            .project-links{
                                height:99%;
                                a.github svg{
                                    width:40px;
                                }
                                a.external-link svg{
                                    height:80px;
                                }
                            }
                        }                        
                    }
                }
            }
        }
    }  
    .about{
        p{ 
            font-size:1.2rem;
        }
    }
    .contact{
        .container ul li a svg{ 
                                width:40px;
                            }
    }
}

@media (min-width:2500px){
    .container{
        max-width:2000px;
        h2{
            font-size:2.3rem;
        }
    }
    
    header{
        font-size:1.7rem;
        .logo a{
            font-size:2.7rem;
        }
        .container .navbar nav ul li{
            margin-right: 10px;
            button{
                font-size:1.3rem;
            }
        } 
    }
    .intro{
        h1{
            font-size:5rem;
        }
        h2{
            font-size:3rem;
        }
        padding-left:25%;
    }
    .projects{
        .container{
            h2{
                text-align: center;
                margin-bottom:3rem;
            }
            max-width:2300px;
            .projects-container{
                display:flex;
                gap:2%;
                flex-direction:row;
                flex-wrap: wrap;
                .project-container{
                    flex-basis:49%;
                    .text{
                        .project-title{
                            font-size:2rem;
                        }
                        .description{
                            font-size: 1.3rem;
                        }
                        .technologies span{ 
                            font-size:1rem;
                        }
                    }
                }
            }
        }
    } 
    .about{
        .container{
            max-width:1400px;
            h2{
                text-align: center;
                margin-top:2rem;
            }
        }
        p{ 
            font-size:1.4rem;
        }
    }
    .contact{
        font-size:1.2rem;
        .container{ 
            max-width: unset;
            width:1000px;
        }
    }
}